@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Neucha&family=Zen+Kurenaido&display=swap");
header {
  background-color: #1a61c5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
header h1 {
  font-family: "Monofett", cursive;
  font-size: 40px;
  color: #f59db5;
  margin: 0 10px;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 90px;
  }
}
@media (min-width: 992px) {
  header h1 {
    font-size: 90px;
  }
}

main {
  background-color: #ee4038;
  color: #f59db5;
  font-family: "Zen Kurenaido", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
main .container {
  background-color: #006752;
  display: flex;
  width: 70%;
  min-height: 70vh;
  max-height: max-content;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
}
main div div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
}
main button {
  cursor: pointer;
  background-color: #f59db5;
  color: #ee4038;
  font-family: "Zen Kurenaido", sans-serif;
  height: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin: 5px;
}
main label {
  padding: 40px 0 20px 0;
}
main input {
  background-color: #f59db5;
  color: #006752;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 25px;
  border: #f2c317 2px solid;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  display: flex;
  text-align: center;
}
main .todoinput::placeholder {
  color: #ee4038;
}
main select {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #f59db5;
  font-family: "Zen Kurenaido", sans-serif;
  color: #ee4038;
  font-size: 15px;
}
main .prioone {
  color: red;
}
main .priotwo {
  color: aqua;
}
main .priothree {
  color: green;
}
main ul li {
  font-size: 22px;
  margin-top: 15px;
  cursor: pointer;
}
main ul li a {
  padding-left: 15px;
  cursor: pointer;
}
main #checked {
  text-decoration: line-through;
  color: grey;
}

footer {
  background-color: #1a61c5;
  color: #f59db5;
  font-family: "Zen Kurenaido", sans-serif;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}