$pink: #f59db5;
$lightpink: #f8bacb;
$red: #ee4038;
$green: #006752;
$purple: #c4afe8;
$blue: #1a61c5;

@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Neucha&family=Zen+Kurenaido&display=swap");

$h1-font: "Monofett", cursive;
$p-font: "Zen Kurenaido", sans-serif;
