header {
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

  h1 {
    font-family: $h1-font;
    font-size: 40px;
    color: $pink;
    margin: 0 10px;

    @include for-tablet-landscape-up {
      font-size: 90px;
    }
    @include for-desktop-up {
      font-size: 90px;
    }
  }
}
