header {
  background-color: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

  h1 {
    font-family: $h1-font;
    font-size: 40px;
    color: $red;
    margin: 0 10px;
    text-align: center;

    @include for-tablet-landscape-up {
      font-size: 60px;
    }
    @include for-desktop-up {
      font-size: 80px;
    }
  }
}
