main {
  background-color: $red;
  color: $pink;
  font-family: $p-font;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .container {
    background-color: $green;
    display: flex;
    width: 70%;
    min-height: 70vh;
    max-height: max-content;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
  }

  div {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      font-size: 30px;
    }
  }
  button {
    cursor: pointer;
    background-color: $pink;
    color: $red;
    font-family: $p-font;
    height: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 5px;
  }
  label {
    padding: 40px 0 20px 0;
  }

  input {
    background-color: $pink;
    color: $green;
    font-family: $p-font;
    font-size: 25px;
    border: $yellow 2px solid;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    display: flex;
    text-align: center;
  }

  .todoinput::placeholder {
    color: $red;
  }

  select {
    // appearance: none;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: $pink;
    font-family: $p-font;
    color: $red;
    font-size: 15px;
  }
  .prioone {
    color: red;
  }

  .priotwo {
    color: aqua;
  }

  .priothree {
    color: green;
  }

  ul {
    li {
      font-size: 22px;
      margin-top: 15px;
      cursor: pointer;
      a {
        padding-left: 15px;
        cursor: pointer;
      }
    }
  }
  #checked {
    text-decoration: line-through;
    color: grey;
  }
}
